.DS_Store
$~*
**.so
*.pyc
!libparser.so
*.o
*.swp
**/.vscode
**/output
**/test_suite/timings
**/test_suite/tests
**/v9/tests
**/pLogs
**/__pycache__
**/protocols/*
**/unit_tests/*/test_protocol/hammer/*
**/unit_tests/*/test_protocol/pyHammer/*
**/unit_tests/*/test_protocol/daedalus/*
!**/.gitkeep
